@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #243B55;
    --cor-secundaria: #F5F5F5;
    --cor-terciaria: #FF5722;
    --cor-terciaria-transparente: rgba(245, 245, 245, 0.9);
    --cor-hover: rgba(30, 47, 60, 0.6);

    --font-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}


* {
    margin: 0;
    padding: 0;
}

html, body {
    box-sizing: border-box;
    background: linear-gradient(to bottom right, var(--cor-primaria), #3C5979);
    color: var(--cor-secundaria);
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.container{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.cabecalho {
    padding: 2% 0% 0% 15%;
    background-color: var(--cor-terciaria-transparente);
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--font-secundaria);
    color: var(--cor-terciaria);
    text-decoration: none;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao {
    padding:5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--font-primaria);
}


.apresentacao__conteudo__titulo__laranja {
    font-size: 2.25rem;
    font-family: var(--font-primaria);
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
    text-decoration: none;
}

.apresentacao__conteudo__texto__curriculo {
    font-size: 1.1rem;
    font-family: var(--font-secundaria);
    text-decoration: none;
}

.apresentacao__links {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-size: 1.5rem;
    font-family: var(--font-primaria);
    font-weight: 400;
}

.apresentacao__links__navegacao {
    display:flex;
    justify-content: center;
    border: 2px solid var(--cor-terciaria);
    gap: 16px;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    color: var(--cor-secundaria);
    text-decoration: none;
    font-family: var(--font-secundaria);
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
}

.apresentacao__imagem {
    width: 40%;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
}

.projeto__imagem{
    display: flex;
    width: 50%;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria-transparente);
    text-align: center;
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    
    .cabecalho {
        padding: 5%;
        width: auto;
    }

    .cabecalho__menu {
        display: block;
        justify-content:space-around;
    }
    .cabecalho__menu__link {
        padding: 3%;
        justify-content:center;
    }
    
    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }

    .apresentacao__imagem {
        width: 60%;
    }

    .projeto__imagem{
        width: 80%;
    }
    
}